html {
    padding: 0;
}

body {
    margin: 0 auto;
    background: #27272B url('Imagens/back.png') center bottom no-repeat fixed !important;
    padding: 0 !important;
}

#nav-top {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

#logo img {
    margin-top: 13px;
    margin-left: 20px;
    width: 300px;
}

#main {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 108px auto 1.8% auto;
}

#box {
    background: #fff;
    margin: 0 auto;
    text-align: left;
    width: 85%;
    padding: 20px;
    border-radius: 20px;
}

    #box h2 {
        margin-top: 0px;
    }

a {
    text-decoration: none !important;
    color: #333 !important;
}

.tr-lista td {
    vertical-align: middle !important;
}

.td-urgente {
    background-color: #FFD2D2;
    color: #a94442;
}

.btn-lista {
    padding: 4px 9px;
}

.dd-urgente {
    position: relative;
}

    .dd-urgente > div {
        position: absolute;
        top: -16px;
        left: 130px;
    }

    .dd-urgente > span {
        margin-right: 10px;
    }
