
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Street Fighter - @ViewBag.Title</title>
    <link href="~/Content/Estilos/main.css" rel="stylesheet" />
</head>

<body>
    <div class="menu">
        <span class="item">
            @Html.ActionLink("Inicio", "Index", "StreetFighter", new { style = "border: 1px solid yellow;", @class = "menu-link" })            
            @*<a href="~/StreetFighter">Início</a>*@
        </span>
        <span class="item">
            <a href="https://www.google.com.br/search?q=Street+Fighter&tbm=nws">Noticia</a>
        </span>
        <span class="item">
            <a href="ficha-tecnica.html#conteudo">Ficha Técnica</a>
        </span>
        <span class="item">
            <a href="sobre.html#conteudo">Sobre</a>
        </span>
    </div>

    <div id="conteudo" class="conteudo">
        <div class="titulo">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="corpo">
            @RenderBody()
        </div>
    </div>
</body>
</html>