<style>
    .erro {
        color: red;
    }
</style>

<h3>Listagem de cavaleiros</h3>

<ul id="cavaleiros"></ul>
<div id="feedback"></div>
<button id="btnCriar">Criar hard-coded!</button>  

<script>
    var urlCavaleiroGet = '@Url.Action("Get")';
    var urlCavaleiroPost = '@Url.Action("Post")';
</script>

@section scripts {
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}