
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Blanka</h1>
    <img src="https://cloud.githubusercontent.com/assets/18291019/15033234/f4a86506-123e-11e6-89d3-33742c536a3a.png" alt="Blanka">
    <p><strong>Primeira aparição:</strong> Street Fighter II The World Warrior (1991).</p>
    <p><strong>Nascimento:</strong> 12 de fevereiro de 1966. </p>
    <p><strong>Altura:</strong> 192cm. </p>
    <p><strong>Peso:</strong> 96kg. </p>
    <p><strong>Medidas:</strong> B198, C120, Q172.</p>
    <p><strong>Tipo sanguíneo:</strong> B. </p>
    <p><strong>Habilidades especiais:</strong> Caçar, Eletricidade. </p>
    <p><strong>Gosta:</strong> Frutas tropicais, Pirarucu, Sua mãe. </p>
    <p><strong>Desgosta:</strong> Army ants (espécie de formiga). </p>
    <p><strong>Estilo de luta:</strong> Luta Selvagem autodidata (Army Ants) / Capoeira. </p>
    <p><strong>Origem:</strong> Brasil (lugar de nascença é provável como sendo Tailândia). </p>
    <p><strong>Uma fala de vitória:</strong> "Ver você em ação é uma piada!" </p>
    <p><strong>SSF2 nickname:</strong> "A selvagem criança da natureza". </p>
    <p><strong>SFA3 nickname:</strong> "A animal pessoa amazônica". </p>
    <p><strong>SF4 nickname:</strong> "Guerreiro da selva". </p>
    <p><strong>SFA3 stage:</strong> Ramificação do Rio Madeira - pantano, Brasil (ramificação do rio Madeira: talvez possa ser Mato Grosso, ou Tocantins?).</p>
    <p><strong>SF2 stage:</strong> Bacia do rio Amazonas (Brasil). </p>
    <p><strong>Golpes especiais famosos:</strong> Electric Thunder, Rolling Attack.</p>
