@using CdZ.MVC.Services
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="http://code.divshot.com/geo-bootstrap/swatch/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/Custom/principal.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
    <div id="spinner" style="display: none;" class="spinner"></div>
    @if (ServicoDeSessao.EstaLogado)
    {
        <header>
            <div class="container-fluid">
                <div class="pull-right">
                    Bem Vinda(o) <b>@ServicoDeSessao.UsuarioLogado.Nome</b> (<a href="/Login/Loggout">Sair</a>)
                </div>
            </div>
        </header>
    }

    <h1 class="site-title">Dakishimeta kokoro no kosumo</h1>
    <div class="container"> 
        @RenderBody()
    </div>
    <script>
        $(document)
            .ajaxSend(function () {
                $('#spinner').show();
            })
            .ajaxComplete(function () {
                $('#spinner').hide();
            })
            .ajaxError(function () {
                console.log('Tratador de erros genérico.', arguments);
            });

        $.ajaxSetup({
            //timeout: 2000
        });

    </script>
    <script src="~/Scripts/Components/FeedbackToast.js"></script>
    @RenderSection("scripts", false)   
</body>
</html>
