@{
    ViewBag.Title = "Mensagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">@ViewBag.Mensagem</h2>
<p style="text-align: center;">
    <br />
    <a href="~/Pedido/Cadastro" class="btn btn-default">Cadastrar novo Pedido</a>
    <a href="~/Pedido/Lista" class="btn btn-default">Visualizar todos os pedidos</a>
</p>
