body {
    background: url('../Imagens/back_site.jpg') no-repeat center 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    .menu {
        margin: 230px auto 0;
        display: table;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background: rgba(140, 140, 140, .6);
    }
    
        .menu > .item {
            margin: 25px;
        }
            
            .menu > .item > a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }
            
    .conteudo {
        margin: 70px auto;
        width: 800px;
        background: #eee;
    }
    
        .conteudo > .titulo {
            padding: 10px 15px;
            background: #5a5a5a;
            color: #eee;
        }
        
        .conteudo > .corpo {
            padding: 15px;
        }
        
        .conteudo > .corpo.medio {
            min-height: 550px;
        }
        
            .corpo > .imagem-descricao {
                float: left;
                margin-right: 15px;
            }